body {
  font-family: sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 1rem;
}

h1 {
  text-align: center;
  color: #333;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}